{% extends 'base.html' %}

<!-- {% set active_page = 'home' %} -->

{% block head %}

{% endblock %}


{% block body %}

<div class="row">

    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">CPU Utilization</h2>
            </header>
            <div class="panel-body">
           
                <div class="chart chart-md" id="flotDashBasic"></div>

                <div id="cpu_plot" style="width:300px;height:150px"></div>
                <script>
                    var options = {
                        series: {
                            lines: { show: true },
                            points: { show: true }
                        }
                    };
                    $.plot($("#cpu_plot"), [ {{ cpu_stats }} ] , options);
                </script>

            </div>
        </section>
    </div>


    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">HTTP Requests Rate</h2>
            </header>
            <div class="panel-body">

                <div class="chart chart-md" id="flotDashBasic"></div>

                <div id="http_plot" style="width:300px;height:150px"></div>
                <script>
                    var options = {
                        series: {
                            lines: { show: true },
                            points: { show: true }
                        }
                    };
                    $.plot($("#http_plot"), [ {{ http_stats }} ] , options);
                </script>

            </div>
        </section>
    </div>

</div>


</section>
</div>

</section>
{% endblock %}
