{% extends 'navbar.html' %}

{% set active_page = 'auto scaling' %}

{% block content %}
    <div style="margin: 20px 30px; width: 500px;">
        <form action="{{ url_for('auto_scaling.update_policy') }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.grow_threshold.label }}
            {{ form.grow_threshold(placeholder="Threshold should between (0, 100)", class="form-control") }}
            <br>
            {{ form.shrink_threshold.label }}
            {{ form.shrink_threshold(placeholder="Threshold should between (0, 100)", class="form-control") }}
            <br>
            {{ form.expand_ratio.label }}
            {{ form.expand_ratio(placeholder="Expand ratio should between [1, 10]", class="form-control") }}
            <br>
            {{ form.shrink_ratio.label }}
            {{ form.shrink_ratio(placeholder="Shrink ratio should between [0, 1]", class="form-control") }}
            <br>
            <div style="height:28px;margin-bottom:2px;font-size:14px;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div style="color: #c62928;max-width: 240px;line-height: 1;text-align: left">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            {{ form.submit(class_="btn btn-outline-success submit_btn") }}
        </form>

    </div>
{% endblock %}