{% extends 'navbar.html' %}

{% set active_page = 'instances' %}

{% block content %}
    <div style="text-align: right; margin: 10px 30px">
        <form action="{{url_for('manager.stop_manager')}}" method="post">
            <input type="submit" class="btn btn-outline-primary" value="Stop manager & terminate workers">
        </form>
    </div>
    <div style="text-align: right; margin: 10px 30px">
        <form action="{{url_for('manager.delete_all_data')}}" method="post">
            <input type="submit" class="btn btn-outline-primary" value="Delete all data in RDS and S">
        </form>
    </div>


    <div class="d-flex justify-content-center align-items-center" style="margin:20px 30px">
        <div class="table-responsive" style="text-align: center">
            <table class="table" id="instancesTable" style="text-align: left">
                <thead>
                <th>Instance ID</th>
                <th>Instance state</th>
                <th>Instance type</th>
                <th>Availability Zone</th>
                <th>Public IPv4 address</th>
                <th>Actions</th>
                <th></th>
                </thead>
                <tbody>
                {% for instance in instances %}
                    <tr>
                        <td>{{ instance.id }}</td>
                        <td>{{ instance.state['Name'] }}</td>
                        <td>{{ instance.instance_type }}</td>
                        <td>{{ instance.placement['AvailabilityZone'] }}</td>
                        <td>{{ instance.public_ip_address }}</td>
                        <td>
                            <form action="{{ url_for('manager.get_details',id=instance.id) }}" method='get'>
                                <input type='submit' value='Details'/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}