{% extends 'navbar.html' %}

{% set active_page = 'workers' %}

{% block content %}
<h2 style="align-content: center">Worker list</h2>
<div class="d-flex justify-content-center align-items-center">
        <div style="text-align: center">
            <table class="table" id="instancesTable" style="text-align: left">
                <thead>
                <th>Name</th>
                <th>Instance ID</th>
                <th>Instance state</th>
                <th>Instance type</th>
                <th>Availability Zone</th>
                <th>Public IPv4 address</th>
                <th>Actions</th>
                <th></th>
                </thead>
                <tbody>
                {% for instance in instances %}
                    <tr>
                        <td>{{ instance.tags[0].Value }}</td>
                        <td>{{ instance.id }}</td>
                        <td>{{ instance.state['Name'] }}</td>
                        <td>{{ instance.instance_type }}</td>
                        <td>{{ instance.placement['AvailabilityZone'] }}</td>
                        <td>{{ instance.public_ip_address }}</td>
                        <td>
                            <form action="{{ url_for('manager.get_details',id=instance.id) }}" method='get'>
                                <input type='submit' value='Details'/>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('manager.destroy_instance',id=instance.id) }}" method='post'
                                  onsubmit='return confirm("Are you sure?")'>
                                <input type='submit' value='Destroy'/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}